/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }

  *{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
.owner{
    padding-left: 120px;
    padding-right: 120px;
}
.SPM{
    padding-bottom: 8px;
}
.btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 26px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
    font-size: 16px;
}
.sevenseas{
    padding-bottom: 20px;
}